.sidebar {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  position: fixed;
  height: 100%;
  margin-bottom: 10px;
}

.sidebar a {
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: none;
  margin-bottom: 10px;
}

#fb {
  padding-bottom: 10px;
}

/* #acm-logo {
  margin-bottom: 448px;
} */
